privkey.pem
tls/generateTLS/keys/*
deploymentConfig_dev.json
test
connections/*.pem
connections/*.txt
SPAWNHUB/SpawnHubSPA/bin
SPAWNHUB/SpawnHubSPA/obj
SPAWNHUB/Dockerfile.bak
deployConfig.json
SPAWNHUB/AnsibleContent
credentials
