mms.ignoreInitialUiSetup=true
mongo.mongoUri=mongodb://localhost
mms.centralUrl=http://{{ dns_name_pub }}:8080
mms.fromEmailAddr=example@example.com
mms.replyToEmailAddr=example@example.com
mms.adminEmailAddr=example@example.com
mms.mail.transport=smtps
mms.mail.hostname=mail.mongodb-example.com
mms.mail.port=1