@page "/"
@page "/Home"
@inject HttpClient Http;
@inject NavigationManager navmgr;
@inject IJSRuntime JSRuntime;

<div class="ctr_spin_parent">
    <div>
        <img 
            style="width:60vw;" 
            src="https://cdn-assets-cloud.frontify.com/s3/frontify-cloud-files-us/eyJwYXRoIjoiZnJvbnRpZnlcL2FjY291bnRzXC9hMVwvMzAwNzdcL3Byb2plY3RzXC8xOTc5MDRcL2Fzc2V0c1wvNGZcLzMzMzIxNDlcLzQzZmY1N2FiNzg5N2VmNTNjYjMxZTA0ZTQxNWNlNjY0LTE1NjIxMDMwOTQucG5nIn0:cloud:byMztToShOs4OkBJZgEkBQFLMHN8a-0fuC4rLEAnd34?width=1200" 
            />
    </div>
</div>

@code {
}
