@page "/LaunchOM"
@inject HttpClient Http;
@inject NavigationManager navmgr;
@inject IJSRuntime JSRuntime;

<h1>Launch an Ops Manager</h1>

<br />
@if(!isLoading) {
    <input type="text" @bind="txt_pw" @bind:event="onchange" placeholder="password" class="form-control form-control-lg" />
    <br />
    <button class="btn btn-primary btn-lg" @onclick="LaunchIt">Launch an Ops Manager</button>
} else {
    <button class="btn btn-primary btn-lg" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Launching...</button>
}

@code {
    private Resp r = null;
    private string txt_name = "";
    private string txt_pw="";
    private bool isLoading = false;

    private async void LaunchIt()
    {
        isLoading = true;
        string userid = await JSRuntime.InvokeAsync<string>("getCurrentUserName");
        userid = userid.Replace(" ", ".").ToLower();
        
        try{
            r = await Http.GetFromJsonAsync<Resp>("/api/launchom/"+userid+"/"+txt_pw);
            Console.WriteLine(r.ToString());
        } catch (Exception ex) {
            Console.WriteLine(ex.ToString());
        }
        
        isLoading = false;
        navmgr.NavigateTo("/Watch/"+userid+"_om", false);
    }

    public class Resp {
        public string name { get; set; }
    }

}
